:root {
    --dark: #0F1020;
    --dark-p: #2F195F;
    --lav: #EFC3F5;
    --white: #fff;
    --hot: hotpink  
}

*{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-color: var(--dark);
    color: var(--white);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
}


.header {
    background-color: var(--lav);
    color: var(--dark);
    padding: 10px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    padding-left: 18px;
    padding-right: 20px;
}

.header nav {
    margin-top: 15px;
    margin-right: 30px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
    border-left: var(--dark);
    border-left-style: solid;
    border-radius: 10px;
}

.header nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 15px;
}

.header nav ul li:hover{
    background-color: var(--dark-p);
    border-radius: 0%;
}

.imgcontainer{
    position: relative;
    top: 0;
    left: 0;
}

.hero {
    height: 300px;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    text-align: center;
}

 .image2 { 
    position: absolute;
    width: 300px;
    height: 300px;
    left: 60px;
    top: 50px;
    opacity: 85%;
    } 

@media screen and (max-width: 400px) {
    .image2{
        left: 0;
    }

    }


.bottom-right{
    font-style: italic;
    position: absolute;
    bottom: 20px;
    right: 75px;
    font-size: 48px;
    background-color: var(--lav);
    color: var(--dark);
    padding: 10px
}


main{
    display: flex;
    flex-wrap: wrap;
}

main h2{
    font-size: 64px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   
    padding-left: 50px;
    padding-top: 24px;   
}

.about {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 40px;
    }

   

.about p {
    font-size: 25px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 171px;
    margin-right: 185px;
    margin-top: 25px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px; 
    border-radius: 20px;
    border-left-style: solid;
    border-left-width: 5px;
    border-color: var(--hot);
}

@media screen and (max-width: 1200px) {
    .about {
        display: flex;
        flex-direction: column;     
    }
    .about h2{
        text-align: left;
        
    }
    .about p{
        margin-left: 20px;
        margin-right: 20px;
        display: flex; 
    }
    }

.work {
    color: var(--lav);
    background-color: var(--dark);
    width: 100%;
    display: inline-block;
    flex-wrap: wrap;
    justify-content: space-between; */
}

@media screen and (max-width: 1200px) {
    .work {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
    }
    .work h2{
        text-align: left;
    }
    }

  .card {
    border-color: var(--hot);
    border-left-style: solid;
    margin-left: 400px;
    border-radius: 20px;
    border-width: 5px;
  }
  .cardtop{
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    display: inline-block;
  }

  .cardtop:hover{
    background-color: var(--lav);
    color: var(--dark-p);
  }

  

  .card header {
    padding: 10px;
    text-align: left;
    font-size: 24px;
  }
  
  .card p {
    text-align: left;
    padding: 10px;
  }
  
  .topthree img {
    width: 300px;
    height: 400px;
  }

.bottomtwo img{
    width: 400px;
    height: 400px;

} 

.bottomtwo{
    margin-left: 80px;
}

@media screen and (max-width: 1200px) {
    .card{
        margin-left: 20px;
        margin-right: 20px;
        }
    .card img{
        width: fit-content;
    }
    .bottomtwo{
        margin-left: 0;

    }
    /* .bottomtwo img{
        width: 300px;
    }  */
}

@media screen and (max-width: 400px) {
    .card img{
        width: 150px;
        height: 200px;
       }
    
}


.contact{
    display: inline-block;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    padding-top: 20px;
}

.contact ul{
    border-radius: 20px;
    border-left-style: solid;
    border-left-width: 5px;
    border-color: hotpink;
    margin-top: 30px;
    /* flex-wrap: wrap; */
    /* margin-right: 435px; */
    margin-left: 398px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact ul li{
    display: inline-block;
    font-size: 32px;
    padding-right: 50px;
    padding-left: 30px;
   }

.contact nav ul li:hover{
    background-color: var(--lav);
    color: var(--white);
}

   @media screen and (max-width: 1200px) {
    .contact {
        display: flex;
        flex-direction: column;
        }
    .contact h2{
        text-align: left;
    }
    .contact ul{
        margin-left: 20px;
        margin-right: 10px;
    }
    .contact ul li{
        display: flex;
        flex-direction: column;
        padding-right: 0;
    }
}